{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <script>
        let x = document.getElementsByTagName("BODY")[0];
        x.classList.add("deep-blue-gradient");
    </script>
    <div class="container-fluid content-below-nav">
        <center>
            <div style="transform: translateY(30vh)" class="align-center mt-5 p-3 ">
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                </p>
            </div>
        </center>
    </div>
{% endblock content %}