{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h3>Forgot password</h3>
    <div class="container-fluid col-md-4 content-below-nav">
        <div class="card p-3 border border-default">
            <center>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <button class="btn blue-gradient btn-rounded" type="submit"> Submit</button>
                    </div>
                </form>
            </center>
        </div>
    </div>
{% endblock content %}