{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid col-md-4 content-below-nav">
        <div class="card p-3 border border-default">
            {% if validlink %}
                <center><h3 class="text-black">Change password</h3></center>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <center>
                        <button class="btn blue-gradient btn-rounded" type="submit">Change</button>
                    </center>
                </form>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}