body {
    margin: 0;
    padding-top: 0px;
    border: 0;
}

.bg-custom{
    background: #95d9ff !important;
}
.mynavbarlogo {
    color: white ;
    width: 20%;
}
@media only screen and (max-width: 600px) {
    .mynavbarlogo{
        width: 50%;
    }
}

.mynavbarsmall{
    background: rgba(0,0,0,0.3);
    margin-top: 2%;
    color: white;
}
.mynavbarsmall li{
    padding: 5%;
    font-size: 5vw;
}

.content-below-nav{
    margin-top: 90px ;
}
.dual-wrapper {
    width: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
}
.first-cont {
    float: left;
    color: white;
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    background: linear-gradient(148deg, rgba(0,18,72,1) 0%, rgba(0,95,134,1) 28%, rgba(0,224,255,1) 77%, rgba(255,255,255,1) 99%);
    /*background: #005F86 ;*/
}
.second-cont {
    float: right;
    color:rgba(40,204,255,1);
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    background-color: white;
}

.small-btn.btn { /* Small Buttons */
    padding: .4rem 1.5rem;
}

.col-md-6{
    text-align: center;
    padding: 0;
}
.col-md-6 a{
    display:block;
    width: 100% ;
    height: 100% ;
    text-decoration: none;
    background:black;
}
.home-heading{
    font-size: 40px;
    transition: 300ms;
}

.first-cont:hover .home-heading {
    font-size: 50px;
    transition: ease-in 300ms;
} .second-cont:hover .home-heading {
    font-size: 50px;
    transition: ease-in 300ms;
}

/* ---------------------------------- Home page ends ------------------------------------*/

.bill-table {
    width: 80%;
    text-align: center;
}

.print-list td{
    background-color: #95d9ff;
    text-align: center;
    padding: 10px;
    border-bottom: 10px solid white;
}

.print-list td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}.print-list td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

 .bill-table td{
    background-color: #95d9ff;
    text-align: center;
    padding: 10px;
    border-bottom: 10px solid white;
}

.bill-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}.bill-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* --------------------------------- Crispy Form Tags -----------------------------------*/
.asteriskField {
    color: #cc1111;
    margin: 0px 2px;
}