body {
    margin: 0;
    padding: 0;
    border: 0;
}
.dual-wrapper {
    width: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
}
.first-cont {
    float: left;
    width: 50%;
    height: 100vh;
    line-height: 100vh;
    background-color: #009eff;
    color: white;
}
.second-cont {
    float: right;
    height: 100vh;
    width: 50%;
    line-height: 100vh;
    background-color: white;
    color: #009eff;
}
.home-heading{
    font-size: 40px;
    transition: 300ms;
}

.first-cont:hover .home-heading {
    font-size: 50px;
    transition: ease-in 300ms;
} .second-cont:hover .home-heading {
    font-size: 50px;
    transition: ease-in 300ms;
}

/* ---------------------------------- Home page ends ------------------------------------*/

.bill-table {
    border: 1px dashed black;
    width: 100%;
    text-align: center;
}
.bill-table th {
    border-bottom: 1px dashed black;
    border-right: 1px dashed black;
}

.bill-table td {
    border-right: 1px dashed black;
}

.print-list {
    border-spacing: 10px;
}

.print-list tr {
    margin-bottom: 12px;
}
.print-list td{
    background-color: #95d9ff;
    text-align: left;
    padding: 10px;
}

.print-list td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}.print-list td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* --------------------------------- Crispy Form Tags -----------------------------------*/
.asteriskField {
    color: #cc1111;
}