{% extends "ground/base.html" %}
{% block content %}

<div class="container-fluid content-below-nav">
    <div class="row">
        <!--Left Container-->
        <div class="col-md-6">
            <a href="{% url 'users-upload' %}">
                <div class="first-cont">
                    <span class="home-heading">Print a new document</span>
                </div>
            </a>
        </div>
        <!--Right Container-->
        <div class="col-md-6">
            <a href="{% url 'users-history' %}">
                <div class="second-cont">
                    <span class="home-heading">View printing history</span>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock content %}