{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid col-md-4 content-below-nav">
        <center><h2 class="py-3">Login</h2></center>
        <div class="card p-3 border border-default">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                <div>
                    <center>
                        <button class="btn blue-gradient btn-rounded" type="submit"> LogIn</button>
                    </center>
                </div>
            </form>
        </div>
        <br>
        <center>
            <small class="text-muted">Don't have an account? <a href='{% url 'users-register' %}'> Register</a></small>
            <br>
            <small class="text-muted">
                Forgotten password? <a href='{% url 'password_reset' %}'> Reset Password</a>
            </small>
        </center>
    </div>

{% endblock content %}