{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid col-md-8 content-below-nav">
        <center><h2 class="py-3">Please don't refresh this page...</h2></center>
        <form id="form1" method="post" action="http://10.196.1.11/PaytmKit/pgRedirect.php">
            {% csrf_token %}
            <input type="hidden" name="MID" value="{{ MID }}">
            <input type="hidden" name="ORDER_ID" value="{{ ORDER_ID }}">
            <input type="hidden" name="CUST_ID" value="{{ CUST_ID }}">
            <input type="hidden" name="TXN_AMOUNT" value="{{ TXN_AMOUNT }}">
            <input type="hidden" name="CHANNEL_ID" value="{{ CHANNEL_ID }}">
            <input type="hidden" name="WEBSITE" value="{{ WEBSITE }}">
            <input type="hidden" name="CHECKSUMHASH" value="{{ CHECKSUMHASH }}">
            <input type="hidden" name="INDUSTRY_TYPE_ID" value="{{ INDUSTRY_TYPE_ID }}">
            <input type="hidden" name="CALLBACK_URL" value="{{ CALLBACK_URL }}">
        </form>
    <script type="text/javascript">
        document.getElementById('form1').submit();
    </script>
    </div>

{% endblock content %}