{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-below-nav">
        <center>
            <div class="table-responsive">
                <table class="table-borderless">
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </table>
            </div>
            <br>
            <h1>Tasks</h1><br><br>
            <form method="get" class="form active-cyan-4">
                <input id="query" name="query" style="width: 80%; border-radius: 40px;" class="form-control form-control-sm" type="text"
                       placeholder="Search in documents or users" aria-label="Search">
                <button class="small-btn btn tempting-azure-gradient shadow-none">Search</button>
            </form>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="print-list bill-table table-borderless">
                        <tr>
                            <th>Document</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {% for mytask in context %}
                            <tr>
                                <td class="deep-blue-gradient"><strong>{{ mytask.0.file_name }}</strong><br>
                                    <span class="small text-muted">{{ mytask.0.date_uploaded }}</span>
                                </td>
                                <td>{{ mytask.0.task_by }}</td>
                                <td>
                                    {% for element in mytask.1 %}
                                        {% if forloop.counter != 1 %}
                                            {{ element.label }}: &nbsp;
                                            <input type="checkbox" name="{{ element.name }}{{ mytask.2 }}"
                                                   id="id_completed" {% if element.value == True %}checked{% endif %}>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a target="_blank"
                                       href="{{ host }}{{ media_dir }}{{ mytask.0.task_by.profile.hash_url.hex }}/{{ mytask.3 }}">
                                        <button onclick="" type="button"
                                                class="small-btn btn blue-gradient shadow-none">View
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <br>

                <button class="btn aqua-gradient">Update</button>

            </form>


        </center>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const query = urlParams.get('query');
        document.getElementById("query").value = query;
    </script>
{% endblock content %}
