{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <center>

        <h1>Tasks</h1><br><br>

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <table class="print-list table-responsive">
                <tr>
                    <th>Document</th>
                    <th>User</th>
                    <th>Status</th>
                </tr>
                {% for mytask in context %}
                    <tr>
                        <td>{{ mytask.0.file_name }}<br>
                            <span class="small text-muted">{{ mytask.0.date_uploaded }}</span>
                        </td>
                        <td>{{ mytask.0.task_by }}</td>
                        <td>
                        {% for element in mytask.1 %}
                            {% if forloop.counter != 1 %}
                                {{ element.label }}: &nbsp; <input type="checkbox" name="{{ element.name }}{{ mytask.2 }}" id="id_completed" {% if element.value == True %}checked{% endif %}>
                                <br>
                            {% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <br>

            <button class="btn btn-primary">Update</button>

        </form>


    </center>
{% endblock content %}
