{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid col-md-4 content-below-nav">
        {% if messages %}
            {% for message in messages %}
                <center>
                    <ul style="list-style: none; padding: 0; margin: 0;">
                        <li class="alert alert-{{ message.tags }} alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </li>
                    </ul>
                </center>
            {% endfor %}
        {% endif %}
        <center><h2 class="py-3">Update Prices</h2></center>
        <div class="card p-3 ">
            <form method="post">
                {% csrf_token %}
                {{ update_form|crispy }}
                <center><button class="small-btn btn blue-gradient" type="submit">Update</button></center>
            </form>
        </div>
    </div>
{% endblock content %}