{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid col-md-4 content-below-nav">
        <center><h2 class="py-3">Update Prices</h2></center>
        <div class="card p-3 ">
            <form method="post">
                {% csrf_token %}
                {{ update_form|crispy }}
                <center><button class="small-btn btn blue-gradient" type="submit">Update</button></center>
            </form>
        </div>
    </div>
{% endblock content %}