{% extends "ground/base.html" %}
{% block content %}
    <div class="content-below-nav">
    <center>
        <h3>Payment Pending</h3><br><br>
        <div class="table-responsive">
        <table class="table-borderless bill-table">
            <tr>
                <th>Document Name</th>
                <th>Date Added</th>
                <th>Price</th>
            </tr>
            {% for task in not_paid_tasks %}
                <tr>
                    <td class="cloudy-knoxville-gradient">{{ task.file_name }}</td>
                    <td class="cloudy-knoxville-gradient">{{ task.date_uploaded }}</td>
                    <td class="cloudy-knoxville-gradient">{{ task.price }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="dusty-grass-gradient" colspan="3"><strong>Grand Total: {{ total_due }}</strong></td>
            </tr>
        </table>
        </div>
    </center>
    </div>
{% endblock content %}
