{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid col-md-4 content-below-nav">
        <center><h2 class="py-3">Confirmation</h2></center>
        <div class="card p-3 ">
            <div class="mt-2">
                <center>
                    <h4 class="text-black">Printing this document will cost you <br><span class="text-success">₹ {{ price }}</span></h4>
                </center>
                <form onchange="toggleButton();" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <center>{{ form|crispy }}</center>
                    <center><h6 style="color: red;">NOTE: Ensure that the paid option is checked when you pay after collecting
                        the printout</h6></center>
                    <center>
                        <button id="vic_but" class="btn amy-crisp-gradient" type="submit">Cancel</button>
                    </center>
                </form>
            </div>
        </div>
        {#    <p><a href="{% url 'baseApp-home' %}">Return to home</a></p>#}
    </div>
    <script>
        checkChecked();
        function toggleButton() {
            let vic = document.getElementById("vic_but");
            if(document.getElementById("id_is_confirmed").checked === true) {
                vic.classList.remove("amy-crisp-gradient");
                vic.classList.add("blue-gradient");
                vic.innerHTML = "Confirm";
            } else {
                vic.classList.remove("blue-gradient");
                vic.classList.add("amy-crisp-gradient");
                vic.innerHTML = "Cancel";
            }
        }
    </script>


{% endblock content %}
