{% extends "ground/base.html" %}
{% block content %}
    <center>
        <h1>History</h1><br><br>
        <table border="1|0">
            <tr>
                <th>Document Name</th>
                <th>No. of Pages</th>
                <th>Copies</th>
                <th>Date Added</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.doc_name }}</td>
                    <td>{{ task.pages }}</td>
                    <td>{{ task.copies }}</td>
                    <td>{{ task.date_added }}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
{% endblock content %}
