{% extends "ground/base.html" %}
{% block content %}
    <div class="content-below-nav">
        <center>
            {% if tasks %}
                <h2 class="py-3">History</h2>
                <form method="get" class="form active-cyan-4">
                    <input id="query" name="query" style="width: 80%;" class="form-control form-control-sm" type="text"
                           placeholder="Search in documents" aria-label="Search">
                    <button class="small-btn btn tempting-azure-gradient shadow-none">Search</button>
                </form>
                <div class="table-responsive">
                    <table class="table-borderless bill-table">
                        <tr>
                            <th>Document Name</th>
                            <th>Date Added</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                        {% for task in tasks %}
                            <tr>
                                <td class="deep-blue-gradient">{{ task.file_name }}</td>
                                <td>{{ task.date_uploaded }}</td>
                                <td>{{ task.price }}</td>
                                <td>{% if task.completed %}
                                    <span class="badge badge-success align-middle shadow-none">
                                        <i class="fas fa-print mr-1"></i>
                                        PRINTED
                                    </span>
                                {% else %}
                                    <span class="badge badge-danger align-middle shadow-none">
                                        <i class="fas fa-print mr-1"></i>
                                        PENDING
                                    </span>
                                {% endif %}
                                    {% if task.paid %}
                                        <span class="badge badge-success align-middle shadow-none">
                                        <i class="fas fa-rupee-sign mr-1"></i>
                                        PAID
                                    </span>
                                    {% else %}
                                        <span class="badge badge-danger align-middle shadow-none">
                                        <i class="fas fa-rupee-sign mr-1"></i>
                                        PENDING
                                    </span>
                                    {% endif %}
                                    {% if task.collected %}
                                        <span class="badge badge-success align-middle shadow-none">
                                        <i class="fas fa-check mr-1"></i>
                                        COLLECTED
                                    </span>
                                    {% else %}
                                        <span class="badge badge-danger align-middle shadow-none">
                                        <i class="fas fa-times mr-1"></i>
                                        NOT COLLECTED
                                    </span>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                There are no files given by you. Get started <a href="{% url 'users-upload' %}">here</a>!
            {% endif %}

        </center>
    </div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const query = urlParams.get('query');
        document.getElementById("query").value = query;
    </script>
{% endblock content %}
