{% extends "ground/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid col-md-4 content-below-nav">
    <center><h2 class="py-3">Upload Portal</h2></center>
        <div class="card p-3 ">
        <div class="mt-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <center><button class="btn blue-gradient" type="submit">Upload</button></center>
            </form>
        </div>
        </div>
{#    <p><a href="{% url 'baseApp-home' %}">Return to home</a></p>#}
    </div>


{% endblock content %}
